.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s linear, visibility 0.3s;
    color: black;
  }
  
  .modal_opened {
    opacity: 1;
    visibility: visible;
    z-index:10;
  }
  
  .modal__container {
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    max-width: 496px;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
  }
  
  .modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: center no-repeat url(../../images/modalclose.png);
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none;
  }
  
  .modal__form {
    font-family: "Cabinet Grotesk", Times, serif;
    display: flex;
    flex-direction: column;
    padding: 28px 28px 36px;
  }
  
  .modal__name {
    margin: 0;
    padding: 28px 28px 0px 28px;
  }
  
  .modal__input {
    background: none;
    display: block;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    font-size: 14px;
    margin-bottom: 24px;
    width: 100%;
    margin-top: 3px;
    color: black;
  }
  
  .modal__radio-buttons {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    margin:0 0 10px 0;
  }

  .modal__radio-input {
    margin-right: 5px;
  }

  .modal__input_type_radio {
    border-bottom: none;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .modal__submit {
    border: none;
    background-color: #000;
    color: #fff;
    height: 36px;
    width: 124px;
    font-size: 16px;
    line-height: 20px;
    font-family: "Cabinet Grotesk", Times, serif;
    margin: 10px 20px 0 0;
    padding: 0;
    border-radius: 4px;
    transition: opacity 0.4s linear;
    cursor: pointer;
    flex-wrap: nowrap;
    text-align: center;
  }

  .modal__submit-inactive{
    opacity: 0.3;
  }
  
  .modal__submit:hover {
    opacity: 0.6;
  }
  
  .modal__radio-text {
    margin-bottom: 12px;
  }
  
  .modal__label_type_radio {
    margin-bottom: 8px;
    accent-color: #0000;
  }

  .modal__close {
    background-image: url("../../images/Close.png");
  }

  .modal__option-btn {
    margin-left: 0;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }
  