.switch {
    display: flex;
    position: relative;
    margin: 0 20px 0 auto;
  }

.switch__box {
    border-radius: 25px;
    border:  2px solid #7E7E7E;
    width: 50px;
    height: 30px;
    appearance: none;
    cursor: pointer;
    z-index: 1;
  }

.switch__slider {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background-color: #000;
    color: #000;
    text-align: center;
    position: absolute;
    transition: left 0.2s linear;
    z-index: 2;
  }

.switch__slider-F {
    left: 0px;
  }

.switch__slider-C {
    left: 20px;
  }

.switch__temp-F {
    position: absolute;
    top: -12px;
    left: 10px;
    color: #7E7E7E;
    font-size: 16px;
    transition: color 0.2s linear;
  }
  
.switch__temp-C {
    position: absolute;
    top: -12px;
    left: 30px;
    color: #7E7E7E;
    font-size: 16px;
    transition: color 0.2s linear;
  }

.switch__active {
    font-size: 16px;
    color: #ffffff;
    z-index: 3;
  }
