.header {
    display: flex;
    align-items: center;
    padding: 32px 0 28px;
    font-family: "CabinetGrotesk";
  }
  
  .header__logo {
    margin-right: 24px;
  }
  
  .header__avatar {
    height: 60px;
    width: 60px;
  }
  
  .date {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: black;
  }
  
  .header__add-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border: none;
    font-family: "CabinetGrotesk";
    transition: opacity 0.2 ease-in-out;
  }
  
  .header__add-button:hover {
    opacity: 0.6;
  }
  
  .header__user-container {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: "CabinetGrotesk";
    margin-top: 8px;
    margin-left: auto;
  }
  
  .header__username {
    margin: 0 20px 0 20px;
    color: black;
  }

  .header__link {
    text-decoration: none;
    color: #000;
    display: flex;
    margin-left: 20px;
  }
