.modal__footer {
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
  }
  
  .modal__weather {
    margin-top: 0;
    margin-bottom: 32px;
  }
  
  .modal__caption {
    margin-top: 20px;
    margin-bottom: 12px;
    width: 200px;
    color: black;
  }
  
  .modal__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 498px;
    width: 100%;
  }
  
  /* .modal__container_type_image {
    display: flex;
    justify-content: space-between;
  } */
  
  .modal__close {
    background-image: url(../../images/CloseWhite.png);
  }

  .modal__close {
    background-image: url(../../assets/cross-light.png);
    position: absolute;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: none;
    top: 24px;
    right: 24px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  
  .modal__delete {
    width: 101px;
    height: 24px;
    background: none;
    font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 77, 0, 1);
    padding: 0;
    border-width: 0;
    white-space: nowrap;
    margin-top: 19px;
    margin-right: 32px;
  }

  .modal__delete_visible {
    display: block;
  }

  .modal__delete_hidden {
    display: none;
  }
