.modal__or_login {
    margin-left: 10px;
    color: #6c757d;
    font-size: 14px;
    cursor: pointer;
  }
  
  .modal__option-btn {
    margin-left: 12px;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }